@model string

<script src="@Url.Content("~/apps/item/app/app.js")" type="text/javascript"></script>
<script type="text/javascript">
    angular
        .module('app')
        .constant('itemNumber', '@Model');
</script>

<script src="@Url.Content("~/apps/item/app/ItemController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/apps/item/app/PersonDialogController.js")" type="text/javascript"></script>


<div ng-controller="ItemController as ctl">
    <div ng-include="'apps/item/partials/base.html'"></div>

    <div ng-include="'apps/item/partials/person.html'"></div>

    <div ng-include="'apps/item/partials/employer.html'"></div>
</div>