<div class="panel panel-default">
    <div class="panel-heading">Employer</div>
    <div class="panel-body">
        <div class="row ">
            <div class="form-group col-xs-3">
                <label>Employer name</label>
                <span class="form-control">{{ctl.vm.employerName}}</span>
            </div>
            <div class="form-group col-xs-6">
                <label>Employer address</label>
                <span class="form-control">{{ctl.vm.employerAddress}}</span>
            </div>
        </div>
    </div>
</div>
